In [26]:
# https://pbpython.com/dataframe-gui-overview.html

#https://towardsdatascience.com/jupyter-notebook-without-code-the-mito-way-3e3b3415d44

In [7]:
import pandas as pd

Exception on /dtale/charts/1 [GET]
Traceback (most recent call last):
  File "C:\Users\hotaha\Anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\hotaha\Anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\hotaha\Anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\hotaha\Anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\Users\hotaha\Anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\hotaha\Anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\Users\hotaha\Anaconda3\lib\site-packages\dash\dash.py", line 952, in index
    config = self._generate_config_html()
  File "C:\Users\hotaha\Anaconda3\lib\site-packages\dash\dash.py", line 843, in _generate_config_html
    return f'<script id="_dash-config" type="application/json">{to_json(self._config())}</script>'
  File "C:\Users\hotaha\Anaconda3\lib\site-packages\dash\_utils.py", line 20, in to_json
    from plotly.io.json import to_json_plotly
ModuleNotFoundError: No module named 'plotly.io.json'

2022-11-25 17:41:02,878 - ERROR    - Exception on /dtale/charts/1 [GET]
Traceback (most recent call last):
  File "C:\Users\hotaha\Anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\hotaha\Anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\hotaha\Anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\hotaha\Anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\Users\hotaha\Anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\hotaha\Anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\Users\hotaha\Anaconda3\lib\site-packages\dash\dash.py", line 952, in index
    config = self._generate_config_html()
  File "C:\Users\hotaha\Anaconda3\lib\site-packages\dash\dash.py", line 843, in _generate_config_html
    return f'<script id="_dash-config" type="application/json">{to_json(self._config())}</script>'
  File "C:\Users\hotaha\Anaconda3\lib\site-packages\dash\_utils.py", line 20, in to_json
    from plotly.io.json import to_json_plotly
ModuleNotFoundError: No module named 'plotly.io.json'

## Data prep with GUIs

In [6]:
data_location = "C:/Users/hotaha/OneDrive - dormakaba Group/Desktop/Python/Data/"
#df = pd.read_excel(data_location + "sensordata_ED250_GE10_25-271022.xlsx")
#X, y = df.iloc[:, :-2], df.iloc[:, -1]
df = pd.read_csv(data_location + "export_ED250_GE10 81122 - 4 wochen.csv")
X, y = df.iloc[:, 3:-5], df.iloc[:, 5:-3]
df=df[:1000]
df

,Unnamed: 0,VARIABLE,CALCULATION,TIMESTAMP_S,TIMESTAMP_MS,VALUE,STATUS,GUID,STRVALUE
0,0,12695,0,1665555300,0,0.000,262144,NaN,NaN
1,1,12695,0,1665570600,0,0.000,262144,NaN,NaN
2,2,12695,0,1665584100,0,0.000,0,NaN,NaN
3,3,12695,0,1665599400,0,0.000,0,NaN,NaN
4,4,12695,0,1665612900,0,0.000,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
995,995,12695,0,1666003241,1666003241045,7.047,0,,0.0
996,996,12695,0,1666003241,1666003241248,6.783,0,,0.0
997,997,12695,0,1666003241,1666003241092,6.704,0,,0.0
998,998,12695,0,1666003241,1666003241155,6.308,0,,0.0
999,999,12695,0,1666003241,1666003241061,7.047,0,,0.0

In [3]:
import dtale

dtale.show(df)

C:\Users\hotaha\Anaconda3\lib\site-packages\dtale\views.py:746: FutureWarning:

['GUID'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.

In [8]:
import tabloo

tabloo.show(df)

C:\Users\hotaha\Anaconda3\lib\site-packages\tabloo\backend.py:115: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\hotaha\Anaconda3\lib\site-packages\tabloo\backend.py:117: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\hotaha\Anaconda3\lib\site-packages\tabloo\backend.py:115: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\hotaha\Anaconda3\lib\site-packages\tabloo\backend.py:117: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\hotaha\Anaconda3\lib\site-packages\tabloo\backend.py:115: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\hotaha\Anaconda3\lib\site-packages\tabloo\backend.py:117: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\hotaha\Anaconda3\lib\site-packages\tabloo\backend.py:117: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [5]:
from pivottablejs import pivot_ui

pivot_ui(df)

In [4]:
import qgrid
widget = qgrid.show_grid(df,show_toolbar = True)
widget

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defauâ€¦

## Mito for jupyterlab

In [9]:
import mitosheet
from mitosheet import *
mitosheet.sheet()

MitoWidget(analysis_name='UUID-44717840-7d6b-4b24-ab06-d8f71d819d57', code_json='{"imports": "from mitosheet iâ€¦